.nav {
  background: white;
  width: 25%;
  height: 7vh;
  display: flex;
  justify-content: center;
  margin-left: 650px;
  margin-bottom: 100px;
}
.prova {
  background: white;
  width: 18%;
  height: 7vh;
  display: flex;
  justify-content: center;
  margin-left: 650px;
  margin-bottom: 100px;
}

ul{
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}



 li {
  font-family: "Arial";
  font-weight: 100;
  font-size: 18px;
  list-style: none;
  text-decoration: none;
  text-decoration-style: none;
  padding-right: 25px;
}