<div>
    <h1>SCEGLI IL GIOCO DA MODIFICARE</h1>

  <select #id>
      <option *ngFor="let listItem of gameList" [value]="listItem.Id" >{{listItem.Nome}}</option>
  </select>

    <button (click)="showForm(id.value)">invia</button>

    <form (ngSubmit)="onSubmit(gameform.value)" *ngIf="attivato" [formGroup]="gameform">
        <div >
          <label for="name">Name</label>
          <input type="text"  id="name"  required formControlName="name">
        </div>
        <div >
          <label for="descrizione">Descrizione</label>
          <input type="text"  id="dexcrizione"  required formControlName="descrizione">
        </div>
        <div >
          <label for="genere">Genere</label>
          <input type="text"  id="genere"  required formControlName="genere">
        </div>
        <div >
          <label for="rating">Rating</label>
          <input type="text"  id="rating"  required formControlName="rating">
        </div>
        <div >
          <label for="prezzo">Prezzo</label>
          <input type="text"  id="prezzo"  required formControlName="prezzo">
        </div>
        <button type="submit">Submit</button>
    </form> 

</div>